.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    background-color: #4aaaa5;
    font-size: 24px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.container1{
    background-color: white;
    margin: 75px 450px 40px 250px;
    border-style: groove;
    border-color: rgb(185, 183, 183);
}

.footer {
    background-color: rgb(185, 183, 183);
    text-align: center;
    padding: 10px;
}

h1{
    margin-left: 15px;
    color: #4aaaa5;
    border-bottom: 2px solid #dddd;
}

img{
    float: left;
}

.contact{
    align: center;
}



div.gallery {
    display:block;
    margin: 150px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}